.lazy {
    background: #E64A19;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lazy input {
    height: 80%;
    width: 80%;
}