.lazy-two {
    background: #03A9F4;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.message {
    font-size: 15px;
}